<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }
        body * {
            box-sizing: border-box;
        }
        .main-login {
            width: 100vw;
            height: 100vh;
            background: #383838;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .rigth_login {
            width: 90vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card-login{
            width: 95%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 35px;
            background: #404040;
            box-shadow: 0px 10px 40px #00000056;
            border-radius: 70px;
        }
        .card-login > h1 {
            color: #ff7300;
            font-weight: 800;
            margin: 0;
        }
        .textfield {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 10px 0px;
        }
        .textfield > input {
            width: 100%;
            border: none;
            padding: 15px;
            background: #afafaf;
            color: #FFFFFF;
            font-size: 12pt;
            box-shadow: 0px 10px 40px #00000056;
            outline: none;
            box-sizing: border-box;
        }
        .textfield > label {
            color: #FFFFFF;
            margin-bottom: 10px;
        }
        .textfield > input::placeholder {
            color: #5b5b5b;
        }
        .btn-login {
            width: 100%;
            padding: 16px 0px;
            margin: 25px;
            border: none;
            outline: none;
            font-weight: 600;
            font-size: 12pt;
            color: #FFFFFF;
            background: #ff7300;
            cursor: pointer;
            box-shadow: 0px 10px 40px -12px #ff000052;
        }
        @media only screen and (max-width: 950px) {
            .card-login {
                width: 90%;
            }
        }
        @media only screen and (max-width: 600px) {
           .rigth_login {
            width: 100%;
            height: auto;
           }
        }
        .card-login {
            width: 100%;
        }
        .registro > a {
            color: #ff7300;
            font-weight: 800;
            margin: 0;
        }


    </style>
</head>
<body>
    <div class="main-login">
        <form method="post">
        <div class="rigth_login">
            <div class="card-login" >
                <h1>Faça abaixo seu Cadastro:</h1>
                <div class="textfield" met>
                    <label for="usuario">Qual será o seu usuário?</label>
                    <input type="text" name="login" placeholder="Usuário" required>
                </div>
                <div class="textfield">
                    <label for="senha">Qual será a sua senha?</label>
                    <input type="password" name="password" placeholder="Senha" required onchange="confereSenha()">
                </div>
                <div class="textfield">
                    <label for="senha">Confirme sua senha</label>
                    <input type="password" name="confirma" placeholder="Confirme sua senha" required onchange="confereSenha()">
                </div>
                <button class="btn-login">Criar Cadastro</button>
            </div>
        </div>
    </form>
    </div>
</body>
</html>